doctype html
html
    head
        title Radio Node
    body
        h1 Radio Node Server
        p Backend: #[b= backend]
        h2 Active Players
        ul
            each pl in players
                li channel: #[b= pl.channelId] clients: #[b= pl.countClients()]
